{% extends "base.html"%}
{%block start%}
{{plants}}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">S.no</th>
            <th scope="col">Plant name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for plant in plants%}
        {% if plant.Price < 100%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{plant.name}}</td>
            <td>{{plant.Price}}</td>
        </tr>
        {%endif%}
        {% endfor %}
    </tbody>
  </table>
{% endblock%}
